In [1]:
import numpy as np 
import pandas as pd

In [2]:
sr1 = pd.Series(np.random.randn(3))

In [4]:
sr1.name = 'sample'
sr1

0   -1.395830
1    0.477364
2   -0.601710
Name: sample, dtype: float64

In [5]:
# cumsum
sr1.cumsum()

0   -1.395830
1   -0.918466
2   -1.520176
Name: sample, dtype: float64

In [6]:
sr1.size

3

In [7]:
sr1.shape

(3,)

In [9]:
# data frames
df = pd.DataFrame(data = np.random.randn(3,4), columns=['W','X','Y','Z'])

In [11]:
df

          W         X         Y         Z
0 -0.672585 -0.222076  0.133434 -0.388635
1 -1.042700  0.426105  0.046394 -0.835198
2 -0.870127  1.176190 -0.586196  0.678825

In [15]:
df.index.stop

3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       3 non-null      float64
 1   X       3 non-null      float64
 2   Y       3 non-null      float64
 3   Z       3 non-null      float64
dtypes: float64(4)
memory usage: 224.0 bytes

In [23]:
df.memory_usage(index=True)

Index    128
W         24
X         24
Y         24
Z         24
dtype: int64

In [22]:
24 * 4 + 128

224

In [24]:
df.index.name = 'Index'
df

              W         X         Y         Z
Index
0     -0.672585 -0.222076  0.133434 -0.388635
1     -1.042700  0.426105  0.046394 -0.835198
2     -0.870127  1.176190 -0.586196  0.678825

In [25]:
df.index = [11, 22, 33]
df

           W         X         Y         Z
11 -0.672585 -0.222076  0.133434 -0.388635
22 -1.042700  0.426105  0.046394 -0.835198
33 -0.870127  1.176190 -0.586196  0.678825

In [26]:
df

           W         X         Y         Z
11 -0.672585 -0.222076  0.133434 -0.388635
22 -1.042700  0.426105  0.046394 -0.835198
33 -0.870127  1.176190 -0.586196  0.678825

### basic attributes of dataframe

In [29]:
df.shape, df.shape[0], df.shape[-1]

((3, 4), 3, 4)

In [30]:
df.describe()

              W         X         Y         Z
count  3.000000  3.000000  3.000000  3.000000
mean  -0.861804  0.460073 -0.135456 -0.181669
std    0.185198  0.699751  0.392771  0.777941
min   -1.042700 -0.222076 -0.586196 -0.835198
25%   -0.956414  0.102014 -0.269901 -0.611917
50%   -0.870127  0.426105  0.046394 -0.388635
75%   -0.771356  0.801147  0.089914  0.145095
max   -0.672585  1.176190  0.133434  0.678825

In [31]:
df.count()

W    3
X    3
Y    3
Z    3
dtype: int64

In [38]:
df.columns.values

array(['W', 'X', 'Y', 'Z'], dtype=object)

### Import data in pandas

In [39]:
#csv reading
data = pd.read_csv('10_Property_stolen_and_recovered.csv', nrows=20)
data.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Burglary - Property,3. Burglary,27,64,755858,1321961
1,Andhra Pradesh,2001,Burglary - Property,3. Burglary,3321,7134,51483437,147019348
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
3,Assam,2001,Burglary - Property,3. Burglary,539,2423,3722850,21466955
4,Bihar,2001,Burglary - Property,3. Burglary,367,3231,2327135,17023937

In [40]:
data.tail()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
15,Jharkhand,2001,Burglary - Property,3. Burglary,186,1150,757019,9552273
16,Karnataka,2001,Burglary - Property,3. Burglary,1768,6394,42221208,139393376
17,Kerala,2001,Burglary - Property,3. Burglary,815,4185,21414046,131614945
18,Lakshadweep,2001,Burglary - Property,3. Burglary,0,1,0,12000
19,Madhya Pradesh,2001,Burglary - Property,3. Burglary,3526,13549,31332930,118549565

In [43]:
data.sample(9)

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
10,Goa,2001,Burglary - Property,3. Burglary,65,347,895875,9991574
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
16,Karnataka,2001,Burglary - Property,3. Burglary,1768,6394,42221208,139393376
14,Jammu & Kashmir,2001,Burglary - Property,3. Burglary,161,1345,2905184,27222163
7,Dadra & Nagar Haveli,2001,Burglary - Property,3. Burglary,10,34,247140,1333389
9,Delhi,2001,Burglary - Property,3. Burglary,642,3029,39632177,150033824
18,Lakshadweep,2001,Burglary - Property,3. Burglary,0,1,0,12000
17,Kerala,2001,Burglary - Property,3. Burglary,815,4185,21414046,131614945
12,Haryana,2001,Burglary - Property,3. Burglary,1257,3098,27369980,64576543

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Area_Name                    20 non-null     object
 1   Year                         20 non-null     int64
 2   Group_Name                   20 non-null     object
 3   Sub_Group_Name               20 non-null     object
 4   Cases_Property_Recovered     20 non-null     int64
 5   Cases_Property_Stolen        20 non-null     int64
 6   Value_of_Property_Recovered  20 non-null     int64
 7   Value_of_Property_Stolen     20 non-null     int64
dtypes: int64(5), object(3)
memory usage: 1.4+ KB

In [49]:
data.memory_usage().sum()

1408

In [50]:
data

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Burglary - Property,3. Burglary,27,64,755858,1321961
1,Andhra Pradesh,2001,Burglary - Property,3. Burglary,3321,7134,51483437,147019348
2,Arunachal Pradesh,2001,Burglary - Property,3. Burglary,66,248,825115,4931904
3,Assam,2001,Burglary - Property,3. Burglary,539,2423,3722850,21466955
4,Bihar,2001,Burglary - Property,3. Burglary,367,3231,2327135,17023937
5,Chandigarh,2001,Burglary - Property,3. Burglary,119,364,1804823,10217378
6,Chhattisgarh,2001,Burglary - Property,3. Burglary,1169,4144,6518261,30457033
7,Dadra & Nagar Haveli,2001,Burglary - Property,3. Burglary,10,34,247140,1333389
8,Daman & Diu,2001,Burglary - Property,3. Burglary,7,43,479300,2084845
9,Delhi,2001,Burglary - Property,3. Burglary,642,3029,39632177,150033824
10,Goa,2001,Burglary - Property,3. Burglary,65,347,895875,9991574
11,Gujarat,2001,Burglary - Property,3. Burglary,1124,4928,20821285,141650158
12,Haryana,2001,Burglary - Property,3. Burglary,1257,3098,27369980,64576543
13,Himachal Pradesh,2001,Burglary - Property,3. Burglary,93,812,2936881,17092490
14,Jammu & Kashmir,2001,Burglary - Property,3. Burglary,161,1345,2905184,27222163
15,Jharkhand,2001,Burglary - Property,3. Burglary,186,1150,757019,9552273
16,Karnataka,2001,Burglary - Property,3. Burglary,1768,6394,42221208,139393376
17,Kerala,2001,Burglary - Property,3. Burglary,815,4185,21414046,131614945
18,Lakshadweep,2001,Burglary - Property,3. Burglary,0,1,0,12000
19,Madhya Pradesh,2001,Burglary - Property,3. Burglary,3526,13549,31332930,118549565

### what all areas we have here in the data

In [51]:
data.columns

Index(['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name',
       'Cases_Property_Recovered', 'Cases_Property_Stolen',
       'Value_of_Property_Recovered', 'Value_of_Property_Stolen'],
      dtype='object')

In [53]:
data['Area_Name'].values

array(['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh'],
      dtype=object)

### how many propoerties were recovered in the year 2001?

In [54]:
data['Cases_Property_Recovered'].sum()

15262

### what amount of properties were recovered in the year 2001?

In [55]:
data['Value_of_Property_Recovered'].sum()

258450504

### which state got most property stolen in the year 2001?

In [56]:
data['Cases_Property_Stolen'].max()

13549

In [57]:
data['Cases_Property_Stolen'].idxmax()

19

In [63]:
data.iloc[[19]]

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
19,Madhya Pradesh,2001,Burglary - Property,3. Burglary,3526,13549,31332930,118549565

In [ ]:
df['Value_']