In [1]:
import numpy as np
import pandas as pd

In [2]:
sr1=pd.Series(np.random.randn(5))# here 5 is number of row
sr1

0    0.799591
1    2.037845
2    1.667169
3   -0.604162
4    0.074750
dtype: float64

In [3]:
sr1.name ='sample'
sr1

0    0.799591
1    2.037845
2    1.667169
3   -0.604162
4    0.074750
Name: sample, dtype: float64

In [4]:
sr1.size

5

In [5]:
sr1.shape

(5,)

In [7]:
#Data Frames
df=pd.DataFrame(data=np.random.randn(4,5),columns=['A','B','C','D','E'])
df

          A         B         C         D         E
0  0.769332  0.250550 -0.520688  0.584825  0.250885
1  0.800346 -0.667962 -1.431938  0.150920  0.272655
2 -0.286170  0.657382  0.113328 -1.307611  1.185078
3 -2.012262 -0.220553  0.352311  0.163268  0.549059

In [8]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      float64
 2   C       4 non-null      float64
 3   D       4 non-null      float64
 4   E       4 non-null      float64
dtypes: float64(5)
memory usage: 288.0 bytes

In [10]:
df.info

<bound method DataFrame.info of           A         B         C         D         E
0  0.769332  0.250550 -0.520688  0.584825  0.250885
1  0.800346 -0.667962 -1.431938  0.150920  0.272655
2 -0.286170  0.657382  0.113328 -1.307611  1.185078
3 -2.012262 -0.220553  0.352311  0.163268  0.549059>

In [11]:
df.index.start

0

In [12]:
df.index.stop

4

In [13]:
df.memory_usage()

Index    128
A         32
B         32
C         32
D         32
E         32
dtype: int64

In [14]:
32*5 +128

288

In [16]:
df.memory_usage(index=False)

A    32
B    32
C    32
D    32
E    32
dtype: int64

In [17]:
df.memory_usage(index=True)

Index    128
A         32
B         32
C         32
D         32
E         32
dtype: int64

In [18]:
df

          A         B         C         D         E
0  0.769332  0.250550 -0.520688  0.584825  0.250885
1  0.800346 -0.667962 -1.431938  0.150920  0.272655
2 -0.286170  0.657382  0.113328 -1.307611  1.185078
3 -2.012262 -0.220553  0.352311  0.163268  0.549059

In [19]:
df.index.name='SL.NO.'# if you want to name the index col. name
df

               A         B         C         D         E
SL.NO.
0       0.769332  0.250550 -0.520688  0.584825  0.250885
1       0.800346 -0.667962 -1.431938  0.150920  0.272655
2      -0.286170  0.657382  0.113328 -1.307611  1.185078
3      -2.012262 -0.220553  0.352311  0.163268  0.549059

In [21]:
df.index.name# you want to call the index name

'SL.NO.'

In [22]:
# if you want no change the index name
df.index=['row1','row2','row3','row4']
df

             A         B         C         D         E
row1  0.769332  0.250550 -0.520688  0.584825  0.250885
row2  0.800346 -0.667962 -1.431938  0.150920  0.272655
row3 -0.286170  0.657382  0.113328 -1.307611  1.185078
row4 -2.012262 -0.220553  0.352311  0.163268  0.549059

# Basic attributes of dataframes

In [23]:
df

             A         B         C         D         E
row1  0.769332  0.250550 -0.520688  0.584825  0.250885
row2  0.800346 -0.667962 -1.431938  0.150920  0.272655
row3 -0.286170  0.657382  0.113328 -1.307611  1.185078
row4 -2.012262 -0.220553  0.352311  0.163268  0.549059

In [24]:
df.shape

(4, 5)

In [25]:
df.shape[0]

4

In [26]:
df.shape[1]

5

In [27]:
df.describe()

              A         B         C         D         E
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean  -0.182188  0.004855 -0.371747 -0.102150  0.564419
std    1.320448  0.574354  0.797025  0.828566  0.435463
min   -2.012262 -0.667962 -1.431938 -1.307611  0.250885
25%   -0.717693 -0.332405 -0.748501 -0.213713  0.267213
50%    0.241581  0.014999 -0.203680  0.157094  0.410857
75%    0.777086  0.352258  0.173073  0.268657  0.708064
max    0.800346  0.657382  0.352311  0.584825  1.185078

In [28]:
df.count()

A    4
B    4
C    4
D    4
E    4
dtype: int64

In [29]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [30]:
df.columns.values#it give in form of array

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [31]:
type(df.columns)

pandas.core.indexes.base.Index

# Import data in pandas